workflows/AgenteCVvoz.json
{
  "name": "AgenteCVvoz",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta:  {{ $json.body.pregunta }}",
        "options": {
          "systemMessage": "=Eres un asistente de IA especializado. Tu ÚNICA fuente de conocimiento es la herramienta RAG llamada \"n8n-cv\", la cual consulta un índice vectorial específico con información de Curriculum Vitae (CV) de varias personas. NO utilices tu conocimiento interno preentrenado para responder preguntas factuales o específicas sobre el contenido de los CVs.\n\nInstrucciones Clave:\n1.- Consulta Obligatoria: Para CUALQUIER pregunta del usuario que requiera información factual o datos específicos (como experiencia laboral, habilidades técnicas, educación, etc., de las personas en los CVs), DEBES OBLIGATORIAMENTE invocar y utilizar la herramienta \"n8n-cv\"\n\n2.- Presenta el Resultado Directamente: Una vez que la herramienta \"n8n-cv\" devuelva información, tu respuesta DEBE consistir en presentar esa información directamente al usuario. Basa tu respuesta ÚNICA Y EXCLUSIVAMENTE en los datos recuperados por la herramienta. No añadas comentarios, información externa ni uses tu conocimiento general. \n\n3.- Manejo de Información Faltante: Si la herramienta \"n8n-cv\" indica explícitamente que la información no se encuentra o no devuelve ningún dato relevante para la pregunta, DEBES informar al usuario clara y directamente que la información no está disponible en la base de conocimiento consultada. NO inventes, supongas o especules sobre la información.\n\n4.- Fidelidad al Resultado: Tu función es ser una interfaz fiel a los resultados de la herramienta \"n8n-cv\". Si la herramienta da una respuesta, tu trabajo es comunicarla.\n\nProceso Simple: Recibe pregunta -> Llama a \"n8n-cv\" -> Revisa el resultado de \"n8n-cv\". SI hay resultado relevante, preséntalo tal cual. SI NO hay resultado relevante, informa que no se encontró. No hagas nada más."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "0c22c47b-f5a8-40f8-9c58-56f93bb9059c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "Utiliza esta herramienta para obtener información sobre Curriculum Vitae que te pregunten."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        368,
        208
      ],
      "id": "1d933fc5-c16b-4e4a-9f0e-811883ee3d68",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n-cv",
          "mode": "list",
          "cachedResultName": "n8n-cv"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        160,
        416
      ],
      "id": "ec87dd41-14ba-445a-a110-8343f74d95f4",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "AuZmPTQ4jsL0ftY2",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        160,
        576
      ],
      "id": "5e7cb1c5-c6cb-451c-b325-3b04ae97fa28",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "SjYyMkSu0gBHHThp",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "032204bd-fbe5-4d64-a7c5-e04ba35845d0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e71c51cc-41b6-44ed-8406-ceb0c5557d61",
      "name": "Webhook",
      "webhookId": "032204bd-fbe5-4d64-a7c5-e04ba35845d0"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "ade719a6-43fd-4853-be9a-d2e8ab127dae",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "31dddfe0-675c-4159-887b-1a7a1b2b8302",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a9edyXVYdgdqidNz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        400
      ],
      "id": "6bdc8bf4-243c-4c88-b17b-ae6530c91dd9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "a9edyXVYdgdqidNz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81c1de35-44d6-446e-be54-f35bc555f6bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8294d99add5ff6591a275d49451b1c19ed6a3519ebfaacf66f7e51bb80af9062"
  },
  "id": "5zBMtiUWmnNKdFlG",
  "tags": []
}