workflows/AgenteCVvoz.json
{
  "name": "AgenteCVvoz",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta:  {{ $json.body.pregunta }}",
        "options": {
          "systemMessage": "=Eres un asistente de IA que solo puede usar la herramienta RAG llamada \"n8n-cv\", la cual contiene CV de varias personas. No uses ningún conocimiento interno ni información externa.\n\nReglas:\n\nPara cualquier pregunta sobre experiencia, educación, habilidades u otros datos de CV, debes llamar siempre a \"n8n-cv\" y responder solo con lo que devuelva.\n\nNo mezcles datos entre personas: solo atribuye a cada persona la información que esté claramente asociada a su nombre en el resultado.\n\nSi la base no indica claramente un dato (por ejemplo, el número total de personas registradas), responde que esa información no está disponible en la base de conocimiento.\n\nNo inventes, no hagas suposiciones y no añadas comentarios ni explicaciones extra: limita tu respuesta al contenido devuelto por \"n8n-cv\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "0c22c47b-f5a8-40f8-9c58-56f93bb9059c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "Utiliza esta herramienta para obtener información sobre Curriculum Vitae que te pregunten."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        368,
        208
      ],
      "id": "1d933fc5-c16b-4e4a-9f0e-811883ee3d68",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n-cv",
          "mode": "list",
          "cachedResultName": "n8n-cv"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        160,
        416
      ],
      "id": "ec87dd41-14ba-445a-a110-8343f74d95f4",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "AuZmPTQ4jsL0ftY2",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "032204bd-fbe5-4d64-a7c5-e04ba35845d0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e71c51cc-41b6-44ed-8406-ceb0c5557d61",
      "name": "Webhook",
      "webhookId": "032204bd-fbe5-4d64-a7c5-e04ba35845d0"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "ade719a6-43fd-4853-be9a-d2e8ab127dae",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "31dddfe0-675c-4159-887b-1a7a1b2b8302",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a9edyXVYdgdqidNz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        400
      ],
      "id": "6bdc8bf4-243c-4c88-b17b-ae6530c91dd9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "a9edyXVYdgdqidNz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        592
      ],
      "id": "d45518aa-d9f3-4bbf-80f3-ce33af768461",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "a9edyXVYdgdqidNz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4170b1f-9f18-4a48-be47-0e4236ccaa47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8294d99add5ff6591a275d49451b1c19ed6a3519ebfaacf66f7e51bb80af9062"
  },
  "id": "5zBMtiUWmnNKdFlG",
  "tags": []
}